<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%n%d{yyyy-MM-dd} %highlight(%-5level) %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="runTestJpa" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="TestTp4" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false" />
    <logger name="org.hibernate.type" level="DEBUG" additivity="false"/>
    <logger name="org.hibernate.transaction" level="INFO" additivity="false"/>
    <logger name="org.hibernate.jdbc" level="TRACE" additivity="false"/>

    <!--
     <logger name="org.hibernate.pretty" level="TRACE" additivity="false"/>
     <logger name="org.hibernate" level="TRACE" additivity="false" />
     <logger name="org.hibernate.secure" level="TRACE" additivity="false"/>
     <logger name="org.hibernate.cache" level="TRACE" additivity="false"/>
     <logger name="org.hibernate.tool.hbm2ddl" level="TRACE" additivity="false"/>
     <logger name="org.hibernate.hql.internal.ast.AST" level="TRACE" additivity="false"/>
     -->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>